In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import env
import os
from pydataset import data

In [3]:
iris = data("iris")

In [4]:
iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [5]:
iris.shape

(150, 5)

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [7]:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [8]:
iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [9]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
url = 'https://docs.google.com/spreadsheets/d/\
1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [11]:
fixed_url = url.replace('/edit#gid=', '/export?format=csv&gid=')

In [12]:
df_google = pd.read_csv(fixed_url)

In [13]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [14]:
df_google.shape

(891, 12)

In [15]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [18]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [19]:
recol = df_google.columns [df_google.nunique() < 10]
recol

Index(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], dtype='object')

In [20]:
for col in recol:
    print(col)
    print(df_google[col].value_counts())
    print()

Survived
Survived
0    549
1    342
Name: count, dtype: int64

Pclass
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Sex
Sex
male      577
female    314
Name: count, dtype: int64

SibSp
SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

Parch
Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

Embarked
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [21]:
df_google.Cabin.value_counts()

Cabin
B96 B98            4
G6                 4
C23 C25 C27        4
C22 C26            3
F33                3
F2                 3
E101               3
D                  3
C78                2
C93                2
E8                 2
D36                2
B77                2
C123               2
E121               2
E44                2
D35                2
C125               2
E67                2
B35                2
B18                2
E24                2
B49                2
C65                2
B20                2
B5                 2
B57 B59 B63 B66    2
C126               2
B51 B53 B55        2
F4                 2
C124               2
F G73              2
B58 B60            2
C52                2
D33                2
C68                2
D20                2
D26                2
B28                2
C83                2
E25                2
D17                2
B22                2
C92                2
C2                 2
E33                2
C70                1
E58                1
A16                1
C86                1
D19                1
D48                1
A26                1
B50                1
A20                1
C101               1
A10                1
A23                1
E68                1
D9                 1
B41                1
D50                1
C85                1
B71                1
D49                1
B42                1
C50                1
A24                1
E17                1
D28                1
C47                1
E49                1
B69                1
B102               1
A36                1
B82 B84            1
D6                 1
B3                 1
F38                1
E77                1
D11                1
D30                1
C46                1
D45                1
B101               1
B38                1
C45                1
C90                1
C62 C64            1
F G63              1
B39                1
E10                1
C95                1
B86                1
C99                1
B94                1
C87                1
D15                1
A31                1
B80                1
B4                 1
A32                1
C49                1
A7                 1
B19                1
D47                1
D7                 1
F E69              1
C110               1
D10 D12            1
A5                 1
E31                1
B30                1
B78                1
A6                 1
D56                1
C103               1
E46                1
C118               1
A19                1
B73                1
A34                1
D46                1
B79                1
C30                1
B37                1
A14                1
E63                1
E12                1
D21                1
E38                1
C111               1
C104               1
C82                1
C106               1
E50                1
D37                1
C128               1
T                  1
E40                1
C91                1
C32                1
E34                1
C7                 1
C54                1
E36                1
C148               1
Name: count, dtype: int64

In [22]:

df_google.Survived.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [23]:
df_google.Survived.astype(object)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: object

In [24]:
df_google.select_dtypes(include='object')

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [31]:
telco1, titanic1, iris1 = "telco.csv", "titanic.csv", "iris.csv"

In [32]:
url = env.get_db_url('titanic_db')

In [33]:
titan = pd.read_sql(('SELECT * FROM passengers'), url)

In [34]:
def get_titanic_data():
    url = env.get_db_url("titanic_db")
    titan = pd.read_sql(('SELECT * FROM passengers'), url)
    return titan

In [35]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [36]:
titan.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [37]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [39]:
iris_url = env.get_db_url('iris_db')

In [40]:
flower = 'SELECT * FROM species join measurements using (species_id)'

In [41]:
def get_iris_data():
#     if os.path.exists(iris1):
#         print('this file exists, reading from csv')
#         got_iris = pd.read_csv(iris1)
#     else:
#         print('this file doesnt exist, reading from sql and saving to csv')
#         #read from sql
#         no_iris = pd.read_sql(telco_cust, iris_url)
#         no_iris.to_csv(iris1)
    got_it2 = pd.read_sql(flower, iris_url)
    
    irises= pd.DataFrame(got_it2)
    return irises

In [42]:
get_iris_data()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [43]:
telco_cust ='''select * from customers as cust
	left join contract_types as ct
		using(contract_type_id)
	left join internet_service_types as ist
		using(internet_service_type_id)
	left join payment_types as pt
        using(payment_type_id)
    '''

In [44]:
telco_url = env.get_db_url('telco_churn')

In [45]:
cust_data1 = "cust_data.csv"

In [46]:
def get_telco_data():
    got_it3 = pd.read_sql(telco_cust, telco_url)
    cust_data= pd.DataFrame(got_it3)
    return cust_data

In [47]:
get_telco_data().head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [48]:
import acquire

In [49]:
acquire.get_telco_data

,payment_type_id,internet_service_type_id,customer_id,contract_type_id,paperless_billing,contract_type,churn_month,gender,senior_citizen,partner,...,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,internet_service_type,payment_type
0,2,1,0002-ORFBO,2,Yes,One year,NaN,Female,0,Yes,...,Yes,No,No,Yes,No,Yes,Yes,No,DSL,Mailed check
1,2,1,0003-MKNFE,1,No,Month-to-month,NaN,Male,0,No,...,Yes,Yes,No,No,No,No,No,Yes,DSL,Mailed check
2,1,2,0004-TLHLJ,1,Yes,Month-to-month,2022-01-31,Male,0,No,...,Yes,No,No,No,Yes,No,No,No,Fiber optic,Electronic check
3,1,2,0011-IGKFF,1,Yes,Month-to-month,2022-01-31,Male,1,Yes,...,Yes,No,No,Yes,Yes,No,Yes,Yes,Fiber optic,Electronic check
4,2,2,0013-EXCHZ,1,Yes,Month-to-month,2022-01-31,Female,1,Yes,...,Yes,No,No,No,No,Yes,Yes,No,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,2,9979-RGMZT,2,Yes,One year,NaN,Female,0,No,...,Yes,No,No,Yes,No,No,Yes,Yes,Fiber optic,Mailed check
7039,2,2,9985-MWVIX,1,Yes,Month-to-month,2022-01-31,Female,0,No,...,Yes,No,No,No,No,No,No,No,Fiber optic,Mailed check
7040,3,3,9986-BONCE,1,No,Month-to-month,2022-01-31,Female,0,No,...,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,NaN,Bank transfer (automatic)
7041,2,1,9992-UJOEL,1,Yes,Month-to-month,NaN,Male,0,No,...,Yes,No,No,Yes,No,No,No,No,DSL,Mailed check
7042,1,1,9995-HOTOH,3,No,Two year,NaN,Male,0,Yes,...,No,No phone service,Yes,Yes,Yes,No,Yes,Yes,DSL,Electronic check